html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
}

h1 {
  position: absolute;
  font-family: 'Nosifer', cursive;
  color: red;
  left: 29.5%;
}

.level {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: black;
  top: 10%;
  left: 30%;
}

.player {
  position: absolute;
  height: 50px;
  width: 50px;
}

.monster {
  position: absolute;
  height: 30px;
  width: 30px;
}

.spell {
  position: absolute;
  height: 50px;
  width: 50px;
}

.spellbook {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 10%;
  left: 5%;
}

button {
  position: absolute;
  top: 18%;
  left: 30%;
  background-color: transparent;
  border: none;
  font-family: 'Dancing Script', cursive;
}

h3 {
  position: relative;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-decoration: underline;
}

#spellName {
  left: 31%;
  top: -91%;
}

#spellDescription {
  left: 84%;
  top: -115%;
}

.description {
  position: absolute;
  top: 18%;
  left: 87%;
  font-size: 10px;
  width: 100px;
  font-family: 'Dancing Script', cursive;
}

#zombie {
  text-align: center;
  position: absolute;
  align-items: center;
  top: 10px;
  left: 10px;
}

#nova {
  position: absolute;
  left: -26px;
  top: -17px;
}

#playerStats {
  color: red;
}

.playerHealth {
  position: relative;
  top: 670px;
  left: 1000px;
}

.playerExp {
  position: relative;
  top: 690px;
  left: 750px;
}

.playerLevel {
  position: relative;
  top: 707px;
  left: 475px;
}
