.level {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: blueviolet;
  top: 10%;
  left: 30%;
}

.player {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
}

.monster {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: yellow;
}