html {
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: hidden;
}

body {
  background-color: black;
  max-height: 100%;
  max-width: 100%;
}

h1 {
  position: absolute;
  font-family: 'Nosifer', cursive;
  color: red;
  left: 29.3%;
}

.level {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: black;
  top: 10%;
  left: 30%;
}

.player {
  position: absolute;
  height: 50px;
  width: 50px;
}

.monster {
  position: absolute;
  height: 30px;
  width: 30px;
}

.spell {
  position: absolute;
  height: 50px;
  width: 50px;
}

.spellbook {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 20%;
  left: 5%;
}

button {
  position: absolute;
  top: 18%;
  left: 30%;
  background-color: transparent;
  border: none;
  font-family: 'Dancing Script', cursive;
}

h3 {
  position: relative;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-decoration: underline;
}

#spellName {
  left: 31%;
  top: -91%;
}

#spellDescription {
  left: 86%;
  top: -110%;
}

.description {
  position: absolute;
  top: 18%;
  left: 83%;
  font-size: 12px;
  width: 100px;
  font-family: 'Dancing Script', cursive;
}

.nova {
  position: absolute;
  top: 18%;
  left: 34%;
  font-size: 18px;
  width: 100px;
  font-family: 'Dancing Script', cursive;
}

#zombie {
  text-align: center;
  position: absolute;
  align-items: center;
  top: 10px;
  left: 10px;
}

#nova {
  position: absolute;
  left: -26px;
  top: -17px;
}

#playerStats {
  color: red;
}

.playerHealth {
  position: relative;
  top: 370px;
  left: 298px;
  white-space: pre-wrap;
}

.playerExp {
  position: relative;
  top: 406px;
  left: 175px;
  white-space: pre-wrap;
}

.playerLevel {
  position: relative;
  top: 444px;
  left: 87px;
  white-space: pre-wrap;
}

.login {
  color: red;
  left: 19%;
}

.newPlayer {
  position: absolute;
  top: 50%;
  left: 28%;
  background-color: transparent;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
}

.returningPlayer {
  position: absolute;
  top: 50%;
  left: 57%;
  background-color: transparent;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
}

.createPlayer{
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: transparent;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
}

#name {
  position: absolute;
  top: 70%;
  left: 37.5%;
  background-color:black;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
  text-align: center;

}

#startGame {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 80%;
  left: 44%;
  background-color: transparent;
  color: red;
  font-family: 'Nosifer', cursive;
  font-size: 20px;
}

.dead {
  color: red;
}

#save {
  color: red;
}

.save {
  left: 1250px;
  position: absolute;
  font-family: 'Nosifer', cursive;
  color: red;
}

#music {
  color: red;
  width: 100px;
  position: absolute;
  left: 75%;
  height: 60%;
}

.LostWoods{
  color: green;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  top: 30%;
  position: absolute;
}

.MetalMix{
  color: blue;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  top: 50%;
  position: absolute;
}

.Memoraphile{
  color: yellow;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  top: 70%;
  position: absolute;
}

.FrogTheme {
  color: green;
  font-family: 'Nosifer', cursive;
  font-size: 10px;
  top: 90%;
  position: absolute;
}

#statsContainer {
  position: absolute;
  top: 50%;
  left: 22px;
}

#blood {
  position: absolute;
  left: 10px;
  top: 19px;
}

#dragon {
  position: absolute;
  left: 24%;
}

h2 {
  z-index: 1;
  top: 41%;
  left: 42%;
  position: absolute;
  color: red;
  font-family: 'Nosifer', cursive;
}

#death {
  width: 100%;
  height: 815px;
  z-index: 10;
}

.winner {
  z-index: 1;
  top: 41%;
  left: 27%;
  position: relative;
  color: red;
  font-family: 'Nosifer', cursive;
  width: 700px;
}